<div class="page-wrapper mdc-toolbar-fixed-adjust">
    <main class="content-wrapper">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-desktop stretch-card">
            <div class="mdc-card">
              <h6 class="card-title">Profile</h6>
              <button title="Add" type="button" data-toggle="modal" data-target="#exampleModal" class="mdc-button mdc-button--raised icon-button filled-button--warning mdc-ripple-upgraded" 
                      style="width: 6%; --mdc-ripple-fg-size:21px; --mdc-ripple-fg-scale:2.90056; --mdc-ripple-fg-translate-start:9.625px, 11.5px; --mdc-ripple-fg-translate-end:7.5px, 7.5px;">
                <i class="material-icons mdc-button__icon">add</i>
              </button>

              <form  [formGroup]="formularioUpdate" class="mdc-card" ngNativeValidate  (ngSubmit)= 'updateUser()'>
                <div class="template-demo">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                    <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
                      <input formControlName="name" name="name" class="mdc-text-field__input" >
                      <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
                    </div>
                  </div>                
                  <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
                    <input formControlName="email" name="email" class="mdc-text-field__input" >
                    <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
                  </div>
                </div>
                <button class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" style=" margin-top: 2%; --mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.9675; --mdc-ripple-fg-translate-start:39.5px, -8.5px; --mdc-ripple-fg-translate-end:19.2969px, -10.5px;">
                  Actualizar
                </button>
                <button _ngcontent-dsp-c60="" class="margin-top: 2%; mdc-button mdc-button--unelevated filled-button--secondary mdc-ripple-upgraded" style="--mdc-ripple-fg-size:495px;--mdc-ripple-fg-scale:1.69021;--mdc-ripple-fg-translate-start:122.986px, -221.615px;--mdc-ripple-fg-translate-end:165.434px, -229.505px;margin-top: 2%;"> 
                  Cancelar
                 </button>
              </form>

            </div>
          </div>


          <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-desktop stretch-card">
            <div class="mdc-card">
              <h6 class="card-title">Foto User</h6>
              <div class="template-demo">
                <figure >
                  <div class="">
                    <h4>Imagen de perfil</h4>
                   
                      <img  [src]="usuario.img | imagen" style="width: 100px; height: 100px;" class="rounded float-left">
                      <img  *ngIf="imagenSubirTemp" [src]="imagenSubirTemp" style="margin-left: 4%; width: 100px; height: 100px;" class="rounded float-left">
                   
                      <p style="margin-top: 14%;">Progreso de carga</p>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"    id="barraProgreso"
                        #barraProgreso role="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax=""></div>
                      </div>

                  </div>

                  <div class="custom-file mt-4">
                    <input (change)="seleccionImage($event.target.files[0])"  [disabled]="imagenSubir" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Eliga una imagen</label>
                  </div>

                  <figcaption class="mt-2">
                    <h6 class="figure-title">Nombre Usuario</h6>
                    <p class="text-muted">{{usuario.name}}</p>
                  </figcaption>
             
                </figure>  
                <button type="button" (click)="cambiarImagen()" [disabled]="!imagenSubir" style="background: #7a00ff;"  class="btn btn-block btn-success waves-effect waves-light m-r-10" >
                <i class="fa fa-save"></i> Actualizar Foto
              </button>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
            <span class="tx-14">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
          </div>
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
          </div>
        </div>
      </div>
    </footer>
  </div>




  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style=" margin-top: 50%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  ngNativeValidate [formGroup]="formulario" (ngSubmit)='registrarUsuario()'>
          <div class="template-demo">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
                <input class="mdc-text-field__input" formControlName="name" name="name" placeholder="Nombre" required >
                <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
                <label for="text-field-hero-input" class="mdc-floating-label">Nombre</label>
              </div>
            </div>                
            <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <input class="mdc-text-field__input" formControlName="email" name="email" placeholder="Email" required >
              <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Email</label>
            </div>
            <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <input type="password" formControlName="password" name="password" placeholder="Password" class="mdc-text-field__input" required>
              <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Password</label>
            </div>
            <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <input  type="password" formControlName="password2" name="password2" placeholder="Repeat Password"  class="mdc-text-field__input" required >
              <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Repeat Password</label>
            </div>


            <div *ngIf="formulario.errors?.sonIguales && !formulario.pristine" class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <p class="text-danger"> Las claves deben ser iguales </p>
            </div>

    


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="background-color: #ff420f;" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]='formulario.invalid' style="background-color: var(--mdc-theme-primary, #7a00ff);">Create User</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>