<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1" style="height: 100% !important;">
                        <img style="height: 100%; cursor: pointer;" data-toggle="modal" data-target="#imgPc" [src]="pcImg | imagen:'pc'" />
                    </div>
                    </div>
             
                    
                </div>
                <div *ngIf="pc" class="details col-md-6 text-center" style="margin-top: 15%;">
                    <h3 class="product-title">{{pc.name}}</h3>
                    <p  style="font-size: 20px;" class="product-description"> <strong style="font-size: 20px;">Descripcion: </strong> {{pc.description}}</p>
                    <h4 class="">Tipo: <span>{{pc.type}}</span></h4>
                    <div class="action">
                    </div>
                    <button (click)="back()" class="btn mt-3" style="background: #7a00ff; color: white;" type="button">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal img -->

<div  #myModal data-backdrop="static" class="modal fade" id="imgPc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style=" margin-top: 50%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Img pc</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 0rem;">
        <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-12-desktop stretch-card">
          <div class="mdc-card">
            <h6 class="card-title" style="margin-top: -4%">Foto pc</h6>
            <div class="template-demo">
              <figure *ngIf="pc" >
                <div class="">
                  <h4>Imagen del Pc </h4>
                 
                    <img  [src]="pcImg | imagen:'pc'" style="width: 100px; height: 100px;" class="rounded float-left">
                    <img  *ngIf="imagenSubirTemp" [src]="imagenSubirTemp" style="margin-left: 4%; width: 100px; height: 100px;" class="rounded float-left">
                 
                    <p style="margin-top: 14%;" ></p>
                    <br>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" id="barraProgreso"
                      #barraProgreso role="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax=""></div>
                    </div>
        
                </div>
        
                <div class="custom-file mt-4">
                  <input (change)="seleccionImage($event.target.files[0])"  [disabled]="imagenSubir" type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Eliga una imagen</label>
                </div>
        
                <figcaption class="mt-2">
                  <h6 class="figure-title">Nombre Usuario</h6>
                  <p class="text-muted">{{pc.name}}</p>
                </figcaption>
           
              </figure>  
              <button type="button" (click)="cambiarImagen()" [disabled]="!imagenSubir" style="background: #7a00ff;"  class="btn btn-block btn-success waves-effect waves-light m-r-10" >
              <i class="fa fa-save"></i> Actualizar Foto
            </button>            
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Modal img -->