<div class="row">
  <!-- <button  class="btn btn-primary btn-block" style="background: #7a00ff;" >Exportar pdf</button> -->

    <div class="col-2 mb-4 ml-5 mt-4" *ngFor="let pcs of pcs">
      <div class="card h-100" >
        <img [src]=" pcs.img | imagen:'pc'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{pcs.name}}</h5>
          <p class="card-text">{{pcs.description}}</p>
          <button  class="btn btn-primary btn-block" (click)="goTodetails(pcs._id)" style="background: #7a00ff;" >Ir al detalle</button>
          <button data-toggle="modal" data-target="#updatePc"  class="btn btn-info btn-block" (click)="update(pcs)" >Actualizar</button>
          <button  class="btn btn-danger btn-block" (click)="delete(pcs)"  >Eliminar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="sticky-container">
    <ul class="sticky">
        <li>
          <!-- <button width="32" height="32" class="mdc-button mdc-button--raised icon-button filled-button--warning mdc-ripple-upgraded" style="--mdc-ripple-fg-size:21px; --mdc-ripple-fg-scale:2.90056; --mdc-ripple-fg-translate-start:16.625px, 15.5px; --mdc-ripple-fg-translate-end:7.5px, 7.5px;">
          </button> -->
          <button type="button" data-toggle="modal" data-target="#createPc" class="mdc-button mdc-button--unelevated filled-button--success mdc-ripple-upgraded" style="height: 100%; width: 56%; --mdc-ripple-fg-size:56px; --mdc-ripple-fg-scale:1.96926; --mdc-ripple-fg-translate-start:46.7188px, -13px; --mdc-ripple-fg-translate-end:18.7969px, -10px;">
            <i class="material-icons mdc-button__icon">add</i>
            <p><a style="text-decoration: none; color: white;"> Agregar Pc</a></p>
          </button>
        </li>
    </ul>
</div>



<div class="modal fade" id="createPc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style=" margin-top: 50%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create pc</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <form  ngNativeValidate [formGroup]="formulario" (ngSubmit)='registrarUsuario()'> -->
        <form  ngNativeValidate>
          <div class="template-demo">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
                <input class="mdc-text-field__input"  name="name" placeholder="Nombre" required >
                <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
                <label for="text-field-hero-input" class="mdc-floating-label">Nombre</label>
              </div>
            </div>                
            <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <input class="mdc-text-field__input"  name="email" placeholder="Email" required >
              <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Email</label>
            </div>
            <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <input type="password"  name="password" placeholder="Password" class="mdc-text-field__input" required>
              <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Password</label>
            </div>
            <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <input  type="password"  name="password2" placeholder="Repeat Password"  class="mdc-text-field__input" required >
              <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Repeat Password</label>
            </div>


            <!-- <div *ngIf="formulario.errors?.sonIguales && !formulario.pristine" class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <p class="text-danger"> Las claves deben ser iguales </p>
            </div> -->

    


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="background-color: #ff420f;" data-dismiss="modal">Close</button>
            <!-- <button type="submit" class="btn btn-primary" [disabled]='formulario.invalid' style="background-color: var(--mdc-theme-primary, #7a00ff);">Create User</button> -->
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updatePc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style=" margin-top: 50%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar pc</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <form  ngNativeValidate [formGroup]="formulario" (ngSubmit)='registrarUsuario()'> -->
        <form  ngNativeValidate>
          <div class="template-demo">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
                <input class="mdc-text-field__input"  name="name" placeholder="Nombre" required >
                <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
                <label for="text-field-hero-input" class="mdc-floating-label">Nombre</label>
              </div>
            </div>                
            <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <input class="mdc-text-field__input"  name="email" placeholder="Email" required >
              <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Email</label>
            </div>
            <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <input type="password"  name="password" placeholder="Password" class="mdc-text-field__input" required>
              <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Password</label>
            </div>
            <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <input  type="password"  name="password2" placeholder="Repeat Password"  class="mdc-text-field__input" required >
              <div class="mdc-line-ripple" style="transform-origin: 123px center;"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Repeat Password</label>
            </div>


            <!-- <div *ngIf="formulario.errors?.sonIguales && !formulario.pristine" class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:448px; --mdc-ripple-fg-scale:1.6938; --mdc-ripple-fg-translate-start:-101px, -186px; --mdc-ripple-fg-translate-end:149.734px, -201.5px;">
              <p class="text-danger"> Las claves deben ser iguales </p>
            </div> -->

    


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="background-color: #ff420f;" data-dismiss="modal">Close</button>
            <!-- <button type="submit" class="btn btn-primary" [disabled]='formulario.invalid' style="background-color: var(--mdc-theme-primary, #7a00ff);">Create User</button> -->
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
