<aside >
    <div class="mdc-drawer__header">
      <a class="brand-logo">
        <img src="../../../assets/images/technidieno.png" style="width: 160px;" alt="technidieno">
      </a>
    </div>
    <div class="mdc-drawer__content">
      <div class="user-info">
        <p class="name">{{user.name}}</p>
        <p class="email">{{user.email}}</p>
      </div>
      <div class="mdc-list-group">
        <nav class="mdc-list mdc-drawer-menu">
          <div class="mdc-list-item mdc-drawer-item" routerLinkActive="active">
            <a class="mdc-drawer-link" [routerLink]="['/dashboard']" >
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
              Dashboard
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item" routerLinkActive="active">
            <a  class="mdc-drawer-link"  [routerLink]="['/users']">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">track_changes</i>
              User
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a [routerLink]="['/pc']" class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="ui-sub-menu">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
             PC
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a [routerLink]="['/memorias']" class="mdc-drawer-link" href="pages/tables/basic-tables.html">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">grid_on</i>
              Memorias
            </a>
          </div>
          <div class="mdc-list-item mdc-drawer-item">
            <a  [routerLink]="['/otros']" class="mdc-drawer-link" href="pages/charts/chartjs.html">
              <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pie_chart_outlined</i>
              Otros
            </a>
          </div>
       

        </nav>
      </div>
      <div class="profile-actions">
        <a href="javascript:;">Settings</a>
        <span class="divider"></span>
        <a (click)="logout()" style="cursor: pointer;">Logout</a>
      </div>

    </div>
  </aside>