<div class="page-wrapper mdc-toolbar-fixed-adjust">
    <main class="content-wrapper">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
       
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card p-0">
              <h6 class="card-title card-padding pb-0">Hoverable Table</h6>
              <div class="table-responsive">
                <table class="table table-hoverable">
                  <thead>
                    <tr>
                      <th class="text-left">Dessert (100g serving)</th>
                      <th>Calories</th>
                      <th>Fat (g)</th>
                      <th>Link</th>
                      <th>Carbs</th>
                      <th>Protein (g)</th>
                      <th>Sodium (mg)</th>
                      <th>Calcium (%)</th>
                      <th>Iron (%)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-left">Frozen yogurt</td>
                      <td>1.59</td>
                      <td>6.0</td>
                      <td>50</td>
                      <td>4.0</td>
                      <td>87</td>
                      <td>20%</td>
                      <td>4%</td>
                      <td>6%</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        
        </div>
      </div>
    </main>
    <!-- partial:../../partials/_footer.html -->
    <footer>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
            <span class="tx-14">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
          </div>
          <!-- <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
            <div class="d-flex align-items-center">
              <a href="">Documentation</a>
              <span class="vertical-divider"></span>
              <a href="">FAQ</a>
            </div>
          </div> -->
        </div>
      </div>
    </footer>
    <!-- partial -->
  </div>