<div class="page-wrapper mdc-toolbar-fixed-adjust">
    <main class="content-wrapper">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
       
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
            <div class="mdc-card p-0">
              <h6 class="card-title card-padding pb-0">Hoverable Table</h6>
              <div class="table-responsive">
                <table class="table table-hoverable">
                  <thead>
                    <tr>
                      <th class="text-left">Name</th>
                      <th class="text-left">Email </th>
                      <th class="text-left">Created</th>
                      <th class="text-left">Imagen</th>
                      <th class="text-left">Option</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let users of users">
                      <td class="text-left">{{users.name}}</td>
                      <td class="text-left">{{users.email}}</td>
                      <td class="text-left">{{users.created}}</td>
                      <td  class="text-left">
                        <img *ngIf="users.img" [src]="users.img" [alt]="users.img" srcset=""> 
                        <img  [src]="!users.img" [alt]="users.name" srcset=""> 
                      </td>
                      <td class="text-left">
                        <button (click)="borrarUsuario(users)" title="Delete" class="mdc-button mdc-button--raised icon-button filled-button--secondary mdc-ripple-upgraded" style="--mdc-ripple-fg-size:21px; --mdc-ripple-fg-scale:2.90056; --mdc-ripple-fg-translate-start:13.5313px, 6.5px; --mdc-ripple-fg-translate-end:7.5px, 7.5px; padding: 3%;">
                          <i class="material-icons mdc-button__icon">delete</i>
                        </button>
                        <!-- TODO Realizr un compente aparte de user para actualizar cada uno -->
                        <!-- Realizar un componente para actualizar cada usuario de la lista -->
                        <!-- <button title="Edit" class="mdc-button mdc-button--raised icon-button filled-button--success mdc-ripple-upgraded" style="--mdc-ripple-fg-size:21px; --mdc-ripple-fg-scale:2.90056; --mdc-ripple-fg-translate-start:9.5625px, 16.5px; --mdc-ripple-fg-translate-end:7.5px, 7.5px; padding: 3%; margin-left: 7%;">
                          <i class="material-icons mdc-button__icon">colorize</i>
                        </button> -->
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        
        </div>
      </div>
    </main>
    <!-- partial:../../partials/_footer.html -->
    <footer>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
            <span class="tx-14">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
          </div>
          <!-- <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
            <div class="d-flex align-items-center">
              <a href="">Documentation</a>
              <span class="vertical-divider"></span>
              <a href="">FAQ</a>
            </div>
          </div> -->
        </div>
      </div>
    </footer>
    <!-- partial -->
  </div>